pandas-gbq
google-cloud-bigquery-storage
pyarrow
optuna
xgboost
lightgbm
scikit-learn
seaborn
bigframes
google-auth>=2.23.0
google-auth-oauthlib
pydata-google-auth
pydantic~=1.10.0
google-cloud-storage~=2.18.2
statsmodels
optuna-integration[lightgbm,xgboost]
shap